
/* CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* NAV BAR*/

.navbar {
  background: #131313;
  height: 80; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 140px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
} 

#navbar__title {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.15rem;
  color:#FF9900;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item{
  height: 80px;
}

.navbar__links{
  color: #FF9900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
} 

.navbar__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 10px;
  padding-left: 15px;
  height: 100%;
  width: 75%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #FF9900;
  color:#131313
}

.button:hover{
  background:black;
  color: #FF9900;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  background: #FF9900;
  color: black;
  transition: all 0.3s ease;
  border: solid;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0; 
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999;
    height: 50vh;
    font-size: 1.6rem;
  }
  #navbar__title {
    padding-left: 25px;
 }
 .navbar__toggle.bar {
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   background: black;
 }
 .navbar__item {
   width: 100%;
 }
.navbar__links {
  text-align: center;
  padding: 2rem;
  width: 100%;
  display: table;
}

}
.navbar_btn {
  padding-bottom: 2rem;
  text-align: center;
}

.button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0;
} 
.navbar__toggle .bar {
  display: block;
  cursor: pointer;
}

img.small__logo{
width: 250px; 
height: 140px;
margin: 0;
}


/* Main Content */

.main {
  background-color: white;
}


.main__img--container {
  float: right;
  padding: 40px;
  color:white;
  text-align:center;
}


#main__img {
  height: 80%;
  width: 80%;
  }

 /*About Us Section*/
.about{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  margin: 3rem;
  margin-bottom: 1rem;
}

/* About Us Text*/
.about h1 {
  color:#FF9900;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  font-size: 2.2rem;
}

/* *Serving the Greater Pittsburgh Area* */
.about h2 {
  color:#FF9900;
  font-size: 1.4rem;
  margin-top: 1.25rem;
}

.about p {
  color: #FF9900;
  text-align: center;
  margin: 3rem;
  font-size: 1.4rem;
  letter-spacing: .8pt;
  text-align: left;
  line-height: 2rem;
  margin-bottom: 1.5;
}

.about__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 }

 /*Sending Warm Wishes*/
   .about__card h2{
     color:#FF9900;
     margin-top: 2.7rem;
     text-align: center;
     font-size: 1.4rem;
   }

   .fb-page{
    padding-top: 0.5rem;
    padding-left: 2.9rem;
    
  }
   /* Request a quote button 
   .about__card button {
     background-color: black;
     color:#FF9900;
     border: thick;
     outline-style: ridge;
     margin: 1rem;
     padding: 0.5rem;
     font-size: 1.2rem;
   }
   */


  /* Mobile Responsive */

  @media screen and (max-width:768px) {
    .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }
    
    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }

    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }

    .main__content h2 {
      font-size: 3rem;
    }

    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width:480px) {
    .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }

    .main__content h2 {
      font-size: 2rem;
    }

    .main__content p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }

    .main__btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  }

 






  